@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

*::selection {
  background-color: #605ada;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.nome-menu {
  color: #605ada;
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  font-weight: 600;
}

.nome-menu:hover {
  color: #6058f3;
  cursor: pointer;
  text-decoration: none;
}

.navbar {
  height: 85px;
  background-color: rgb(231, 227, 248);
}

.nav li {
  position: relative;
}

.nav a {
  color: #42326b;
}

.nav a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #6c63ff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav a:hover:after {
  width: 100%;
  left: 0;
}

header {
  margin-bottom: 150px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  font-size: 20px;
}

.texto {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 130px;
}

.nome {
  color: #605ada;
}

.imagem {
  width: 21em;
  margin: 135px 0;
}

.button {
  background-color: #6c63ff;
  color: #fff;
  font-weight: 500;
  font-size: 0.7em;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
}

.button:hover {
  background-color: #605ada;
  color: rgb(241, 239, 252);
  text-decoration: none;
}

.sobre {
  margin: 80px;
}

.titulo-sobre {
  color: #605ada;
  margin-bottom: 15px;
}

.card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  margin: 150px 0;
}

.card {
  margin: 20px 0;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-titulo {
  margin: 15px 0;
  color: #605ada;
}

.descricao {
  margin: 10px;
  text-align: center;
}

.btn-card {
  background-color: #605ada;
  color: white;
  border-radius: 25px;
  border: none;
  margin: 15px 0;
  padding: 10px 20px;
}

.btn-card:hover {
  background-color: rgb(137, 120, 235);
}

.footer {
  text-align: center;
  color: #4d4d4d;
  height: 170px;
  background-color: rgb(231, 227, 248);
  padding-top: 50px;
}

.contato-link {
  color: #8f8be4;
}

.contato-link:hover {
  color: #4942cf;
  text-decoration: none;
}

.footer li {
  display: inline;
  padding: 0 40px;
  border-right: 1px solid #fff;
}

.footer li:nth-child(4) {
  border-right: none;
}

.footer p {
  text-align: center;
}

.link-git {
  color: #4942cf;
}

.link-git:hover {
  color: #8f8be4;
}

@media (min-width: 768px) {
  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .imagem {
    margin: 0 10%;
    width: 35em;
  }
  .texto {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 60%;
  }

  .sobre {
    margin: 120px 170px;
    font-size: 18px;
  }
}
